{% extends "base.html" %}

{% block content %}
<form id="rate-movies-form" method="POST" action="">
    {% csrf_token %}
    {% for movie in movies %}
    <p>{{ movie }}</p>
    {% for number in numbers %}
    <input type="radio" id="{{ movie }}-{{number}}" name="{{ movie }}" value="{{ number }}">
    <label for="{{ movie }}-{{ number }}">{{ number }}</label>
    {% endfor %}
    <br>
    {% endfor %}
    <input type="submit" value="Submit">
</form>
<div id="message"></div>
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#rate-movies-form').on('submit', function (event) {
            event.preventDefault();
            $.ajax({
                url: "", // the endpoint
                type: "POST", // http method
                data: $(this).serialize(), // data sent with the post request

                // handle a successful response
                success: function (json) {
                    $('#message').html("<p>" + json.message + "</p>"); // replace the contents of the div with the response from Python
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        });
    });
</script>
{% endblock %}